div{
    position: absolute;
    margin-left: 160px;
    margin-top: -16px;
    width: 100vh;
    height: 95vh;
    background: rgb(255, 255, 255);
    border-radius: 60px 0px 0px 60px;
    display: flex;
    justify-content: inherit;

}
div div{
    margin-left: 32px;
    margin-top: 18px;
}