nav{
    position: absolute;
    width: 220px;
    height: 100vh;
    margin-top: -63px;
    margin-left: -8px;
    background: linear-gradient(180deg, rgb(225, 117, 255) 20%, rgb(133, 124, 255));
    z-index: 2;
}

#blocoSelecionado{
    margin-top: 100px;
    position: absolute;
    background: wheat;
    width: 100%;
    height: 100px;
}
#bacloListe{
    flex: grid;
    margin-top: 200px;
    position: absolute;
}

#delete{
    margin-left: 15px;
    margin-top: 60px;
    position: absolute;
    border: 1px solid black;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 3px;
    border-radius: 5px;
}
#newBloco{
    position: absolute;
    margin-left: 90px;
    margin-top: 60px;
    border: 1px solid black;
    padding: 1px 8px 1px 8px;
    border-radius: 5px
}
#Titulo{
    position: absolute;
    margin: 15px 15px;
}
.bloco{
    margin-left: 15px;
}
#newf{
    position: absolute;
    margin-top: -28px;
    margin-left: 18px;
    border: 1px solid black;
    padding: 1px 8px 1px 8px;
    border-radius: 5px
}


